@import "common";

// Styles for the extension stats bar

.extensions_stats {
  text-align: center;

  .stat {
    color: $body-font-color;
    font-family: $accent_font;
    font-size: rem-calc(36);
    padding: rem-calc(0 24);

    .number {
      color: $body-font-color;
    }
  }

  @media #{$mobile-only} {
    .stat {
      font-size: rem-calc(14);
      padding: rem-calc(0 5);
    }
  }

  @media #{$small-only} {
    .stat {
      font-size: rem-calc(18);
      padding: rem-calc(0 10);
    }
  }

  @media #{$medium-only} {
    .stat {
      font-size: rem-calc(28);
      padding: rem-calc(0 18);
    }
  }

  @media #{$large-only} {
    .stat {
      font-size: rem-calc(32);
      padding: rem-calc(0 18);
    }
  }
}

@media #{$small-down} {
  .extensions_stats {
    margin-bottom: rem-calc(20);
  }
}
