<h1><%= @subject %></h1>

<p>Reported by: <%= @reported_by.try(:github_account).try(:username) || "An anonymous user" %></p>
<p>Reason given: <%= @description %></p>
<p>You may disable or edit this extension if necessary.</p>
<div>
  <%= link_to "View Extension", owner_scoped_extension_url(@extension), class: "button accept" %>
</div>
