<div class="heading-with-buttons">
  <h1 class="title"><%= title %></h1>

  <div class="buttons">
    <%= link_to "Cookbooks", user, class: "button radius secondary #{'active' if active == 'cookbooks'}", rel: "view_cookbooks" %>
  </div>
</div>
