<div class="heading-with-buttons">
  <h1 class="title"><%= title %></h1>

  <div class="buttons">
    <%= link_to "Extensions", user, class: "button radius secondary #{'active' if active == 'extensions'}", rel: "view_extensions" %>
  </div>
</div>
