<div class="heading-with-buttons">
  <h1 class="title"><%= title %></h1>

  <% if current_user == user %>
    <div class="buttons">
      <%= link_to "Share an Extension", new_extension_path, class: "button radius primary", rel: "new_extension" %>
    </div>
  <% end %>
</div>
