<%= provide :title, 'Dashboard' %>

<div class="page dashboard" data-equalizer>
  <div class="main" data-equalizer-watch>
    <h2>Content</h2>
  </div>
  <div class="sidebar" data-equalizer-watch>
    <h3>Your Cookbooks</h3>
    
    <% if ROLLOUT.active?(:tools) %>
      <h3>Tools You Maintain</h3>
      <% if @tools.any? %>
        <ul class="simple_listing">
          <%= render partial: 'tools/simple_tool', collection: @tools, as: 'tool' %>
        </ul>
        <%= link_to 'View All Tools You Maintain', tools_user_path(current_user), class: 'button radius small expand' %>
      <% else %>
        <p>It looks like you have not added any Tools to Supermarket. <%= link_to "Add your Tools", new_tool_path %> if you maintain any knife plugins, ohai plugins or chef tools.</p>
      <% end %>
    <% end %>

    <h4>Resources</h4>

  </div>
</div>
