<%= provide(:title, "#{@extension.name} Extension") %>
<%= provide(:description, "#{@extension.name} Extension (#{@version.version}) #{@version.supported_platforms.map(&:name).join(', ')}".strip) %>

<div class="page resource extension_show" data-equalizer>
  <%= render 'extensions/main', extension: @extension, version: @version, extension_versions: @extension_versions %>
  <%= render 'extensions/sidebar', extension: @extension, version: @version, supported_platforms: @supported_platforms, owner: @owner, collaborators: @collaborators %>
</div>
