<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(extension_count), 'Extension') %></span></span>
<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(user_count), 'ManageIQ User') %></span></span>
