.tokenfield.form-control
  border: 1px solid #cccccc
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  color: rgba(0, 0, 0, 0.75)
  font-size: 0.875rem
  margin: 0 0 1rem 0
  padding: 0.5rem
  padding-bottom: 0.4rem

  .token-input
    background: white
    margin-bottom: 0

  .token
    line-height: 22px
    .token-label
      margin-top: -1px
